@import "master";

* {
    margin: 0;
    padding: 0;
    transition-duration: .4s;
    transition-timing-function: ease;
}
html {
    width: 100%;
    overflow-x: hidden;
    background: black;
}
body {
    width: 100%;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, p, a, label {
    font-family: "Futura";
}
h1 {
    font-size: 8em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 10px;
}
h2 {
    font-size: 2em;
    font-weight: 500;
}
p, a {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.bg {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin: -50vh -50vw;
    height: 100vh;
    width: 100vw;
    z-index: -3;
    //background: $pink;
    background-image: url('../img/lander.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transform: scale(1.3);
    transition-duration: 0s;
}
.bgdarker {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin: -50vh -50vw;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    background: $pink;
    opacity: 0;
    transition-duration: 0s;
}
.bg3 {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin: -50vh -50vw;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: $dark-pink;
    opacity: 0;
    transition-duration: 0s;
}

.lander {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;

    h1 {
        color: white;
        margin-bottom: 50px;
    }
    a {
        color: white;
        background: $pink;
        padding: 20px 30px;
        border-radius: 7px;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.section1 {
    margin-top: 50px;
    background: rgba(153, 0, 127, 0);
    h2 {
        color: rgba(255,255,255,.9);
        padding: 140px 20vw;
        text-align: center;
        line-height: 1.5;
    }
}


.section2 {
    background: black;
    padding: 200px 0 330px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px 60px 0 0;

    .navigation {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;

        .heading {
            color: white;
            display: flex;
            flex-direction: row;
            position: absolute;
            opacity: 0;
            justify-content: center;
            align-items: center;
            z-index: 0;
            transition-duration: 0;

            .text {
                display: flex;
                flex-direction: column;
                width: 300px;

                h3 {
                    font-size: 2.5em;
                    font-weight: 400;
                    text-align: center;
                }
                h4 {
                    font-size: 1.5em;
                    font-weight: 400;
                    text-align: center;
                }
            }
            .previous, .pre {
                margin-right: 60px;
                user-select: none;
            }
            .pre, .nex {
                opacity: .5;
            }
            .next, .nex {
                margin-left: 60px;
                user-select: none;
            }
            .arrow img {
                height: 20px;
            }
            .arrow:hover {
                cursor: pointer;
                color: $pink;
            }
            .pre:hover, .nex:hover {
                cursor: default;
                color: white;
            }
        }
    }
    .slidetrack {
        display: flex;
        flex-direction: row;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .6s;

        .album {
            height: 350px;
            width: 350px;
            transform: scale(.8);
            filter: brightness(.3);
            transition-duration: .6s;
            border-radius: 8px;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;

            .albumInfo {
                color: white;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.2em;
                text-align: center;
                opacity: 0;
                transition: all .6s ease;
                background: rgba(0,0,0,0.65);

                h3 {
                    font-weight: 400;
                    margin-bottom: 30px;
                    color: rgba(255,255,255,.7);
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    a {
                        text-align: center;
                        display: inline;
                        color: white;
                        border-bottom: 2px solid rgba(255,255,255,0);
                        margin: 0 auto 5px auto;
                        padding-bottom: -5px;

                        &:hover {
                            border-bottom: 2px solid white;
                        }
                    }
                }
            }
        }
        .active:hover .albumInfo {
            display: flex;
            opacity: 1;
        }
        #album1 { background-image: url('../img/At\ Sea.jpg'); }
        #album2 { background-image: url('../img/Heavy\ Steps.jpg'); }
        #album3 { background-image: url('../img/Tycho.jpg'); }
        #album4 { background-image: url('../img/Transitions.jpg'); }
        #album2, #album3, #album4 {
            margin-left: 10px;
        }
        .albumempty {
            height: 350px;
            width: 350px;
            background: $pink;
            filter: brightness(0);
            margin-right: 10px;
        }
    }
    .discography {
        color: $pink;
        font-size: 2.5em;
        border-bottom: 0px solid black;
        padding-bottom: 2px;
        margin-top: 30px;
        user-select: none;

        &:hover {
            margin-bottom: -3px;
            border-bottom: 3px solid $pink;
        }
        .arrowRight {
            height: 18px;
            margin-left: 10px;
        }
    }
}

.active {
    transform: scale(1) !important;
    filter: brightness(1) !important;
}
.on {
    opacity: 1 !important;
    z-index: 1 !important;
}

.section3 {
    background: linear-gradient(to top right, $dark-pink, $pink);
    padding: 140px 0 160px 0;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    border-radius: 60px 60px 0 0;

    .images {
        position: absolute;
        margin: -140px 0;

        img {
            position: absolute;
            height: 140px;
        }
    }

    h2 {
        text-align: center;
        font-size: 5em;
        color: white;
        margin-bottom: 80px;
        z-index: 1;
    }
    .shopgrid {
        margin: 0 100px;
        display: flex;
        justify-content: center;
        z-index: 1;

        .item {
            height: 300px;
            width: 300px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 16px;
            border-radius: 8px;

            .itemInfo {
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                text-align: center;
                padding: 20px;
                box-sizing: border-box;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                color: white;

                .name {
                    font-size: 2em;
                    font-weight: 500;
                    line-height: 1;
                    margin-top: 10px;
                }
                .price {
                    font-size: 3em;
                    font-weight: 500;
                    margin: 10px;
                }
                .buy {
                    font-size: 1em;
                    background: white;
                    color: $pink;
                    font-weight: 500;
                    padding: 5px 17px;
                    border-radius: 7px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        transform: scale(1.1);
                    }
                    .arrowRight {
                        height: 8px;
                        margin-left: 6px;
                    }
                }
            }
            &:hover .itemInfo {
                opacity: 1;
            }
        }
        #item1 {
            background-image: url('../img/At\ Sea.jpg');
            .itemInfo {
                background-image: url('../img/At\ Seadark.jpg');
            }
        }
        #item2 {
            background-image: url('../img/longsleeve.png');
            .itemInfo {
                background-image: url('../img/longsleevedark.png');
            }
        }
        #item3 {
            background-image: url('../img/cap.png');
            .itemInfo {
                background-image: url('../img/capdark.png');
            }
        }
    }
}