* {
  margin: 0;
  padding: 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

html {
  width: 100%;
  overflow-x: hidden;
  background: black;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, a, label {
  font-family: "Futura";
}

h1 {
  font-size: 8em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 10px;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

p, a {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.bg {
  position: fixed;
  top: 50vh;
  left: 50vw;
  margin: -50vh -50vw;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  background-image: url("../img/lander.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.bgdarker {
  position: fixed;
  top: 50vh;
  left: 50vw;
  margin: -50vh -50vw;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  background: #f40a87;
  opacity: 0;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.bg3 {
  position: fixed;
  top: 50vh;
  left: 50vw;
  margin: -50vh -50vw;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: #99007f;
  opacity: 0;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.lander {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

.lander h1 {
  color: white;
  margin-bottom: 50px;
}

.lander a {
  color: white;
  background: #f40a87;
  padding: 20px 30px;
  border-radius: 7px;
}

.lander a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section1 {
  margin-top: 50px;
  background: rgba(153, 0, 127, 0);
}

.section1 h2 {
  color: rgba(255, 255, 255, 0.9);
  padding: 140px 20vw;
  text-align: center;
  line-height: 1.5;
}

.section2 {
  background: black;
  padding: 200px 0 330px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px 60px 0 0;
}

.section2 .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.section2 .navigation .heading {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  -webkit-transition-duration: 0;
          transition-duration: 0;
}

.section2 .navigation .heading .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.section2 .navigation .heading .text h3 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
}

.section2 .navigation .heading .text h4 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.section2 .navigation .heading .previous, .section2 .navigation .heading .pre {
  margin-right: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section2 .navigation .heading .pre, .section2 .navigation .heading .nex {
  opacity: .5;
}

.section2 .navigation .heading .next, .section2 .navigation .heading .nex {
  margin-left: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section2 .navigation .heading .arrow img {
  height: 20px;
}

.section2 .navigation .heading .arrow:hover {
  cursor: pointer;
  color: #f40a87;
}

.section2 .navigation .heading .pre:hover, .section2 .navigation .heading .nex:hover {
  cursor: default;
  color: white;
}

.section2 .slidetrack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 350px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.section2 .slidetrack .album {
  height: 350px;
  width: 350px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  border-radius: 8px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 .slidetrack .album .albumInfo {
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  background: rgba(0, 0, 0, 0.65);
}

.section2 .slidetrack .album .albumInfo h3 {
  font-weight: 400;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.section2 .slidetrack .album .albumInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section2 .slidetrack .album .albumInfo ul a {
  text-align: center;
  display: inline;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  margin: 0 auto 5px auto;
  padding-bottom: -5px;
}

.section2 .slidetrack .album .albumInfo ul a:hover {
  border-bottom: 2px solid white;
}

.section2 .slidetrack .active:hover .albumInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.section2 .slidetrack #album1 {
  background-image: url("../img/At Sea.jpg");
}

.section2 .slidetrack #album2 {
  background-image: url("../img/Heavy Steps.jpg");
}

.section2 .slidetrack #album3 {
  background-image: url("../img/Tycho.jpg");
}

.section2 .slidetrack #album4 {
  background-image: url("../img/Transitions.jpg");
}

.section2 .slidetrack #album2, .section2 .slidetrack #album3, .section2 .slidetrack #album4 {
  margin-left: 10px;
}

.section2 .slidetrack .albumempty {
  height: 350px;
  width: 350px;
  background: #f40a87;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  margin-right: 10px;
}

.section2 .discography {
  color: #f40a87;
  font-size: 2.5em;
  border-bottom: 0px solid black;
  padding-bottom: 2px;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section2 .discography:hover {
  margin-bottom: -3px;
  border-bottom: 3px solid #f40a87;
}

.section2 .discography .arrowRight {
  height: 18px;
  margin-left: 10px;
}

.active {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-filter: brightness(1) !important;
          filter: brightness(1) !important;
}

.on {
  opacity: 1 !important;
  z-index: 1 !important;
}

.section3 {
  background: -webkit-gradient(linear, left bottom, right top, from(#99007f), to(#f40a87));
  background: linear-gradient(to top right, #99007f, #f40a87);
  padding: 140px 0 160px 0;
  margin-top: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 60px 60px 0 0;
}

.section3 .images {
  position: absolute;
  margin: -140px 0;
}

.section3 .images img {
  position: absolute;
  height: 140px;
}

.section3 h2 {
  text-align: center;
  font-size: 5em;
  color: white;
  margin-bottom: 80px;
  z-index: 1;
}

.section3 .shopgrid {
  margin: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.section3 .shopgrid .item {
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 16px;
  border-radius: 8px;
}

.section3 .shopgrid .item .itemInfo {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.section3 .shopgrid .item .itemInfo .name {
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  margin-top: 10px;
}

.section3 .shopgrid .item .itemInfo .price {
  font-size: 3em;
  font-weight: 500;
  margin: 10px;
}

.section3 .shopgrid .item .itemInfo .buy {
  font-size: 1em;
  background: white;
  color: #f40a87;
  font-weight: 500;
  padding: 5px 17px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .shopgrid .item .itemInfo .buy:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section3 .shopgrid .item .itemInfo .buy .arrowRight {
  height: 8px;
  margin-left: 6px;
}

.section3 .shopgrid .item:hover .itemInfo {
  opacity: 1;
}

.section3 .shopgrid #item1 {
  background-image: url("../img/At Sea.jpg");
}

.section3 .shopgrid #item1 .itemInfo {
  background-image: url("../img/At Seadark.jpg");
}

.section3 .shopgrid #item2 {
  background-image: url("../img/longsleeve.png");
}

.section3 .shopgrid #item2 .itemInfo {
  background-image: url("../img/longsleevedark.png");
}

.section3 .shopgrid #item3 {
  background-image: url("../img/cap.png");
}

.section3 .shopgrid #item3 .itemInfo {
  background-image: url("../img/capdark.png");
}
/*# sourceMappingURL=main.css.map */